<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
	<context:component-scan base-package="kr.or.kosta.theater.controller"/>
	<context:component-scan base-package="kr.or.kosta.event.controller"/>
	<context:component-scan base-package="kr.or.kosta.commoncode.controller"/>
	<context:component-scan base-package="kr.or.kosta.member.controller"/>
	<context:component-scan base-package="kr.or.kosta.movie.controller"/>
	<context:component-scan base-package="kr.or.kosta.qa.controller"/>
	<context:component-scan base-package="kr.or.kosta.stats.controller"/>
	<context:component-scan base-package="kr.or.kosta.admin.controller"/>

	<context:component-scan base-package="kr.or.kosta.theater.model"/>
	<context:component-scan base-package="kr.or.kosta.event.model"/>
	<context:component-scan base-package="kr.or.kosta.commoncode.model"/>
	<context:component-scan base-package="kr.or.kosta.member.model"/>
	<context:component-scan base-package="kr.or.kosta.movie.model"/>
	<context:component-scan base-package="kr.or.kosta.qa.model"/>
	<context:component-scan base-package="kr.or.kosta.stats.model"/>
	<context:component-scan base-package="kr.or.kosta.admin.model"/>
	<mvc:annotation-driven/>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**/login/**/*"/>
			<bean class="kr.or.kosta.member.interceptor.LoginCheckInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<!-- 단순 Link controller -->
	<mvc:view-controller path="/main.do" view-name="main.tiles"/>
	
	<mvc:view-controller path="/event/regisForm.do" view-name="event/regis_form.tiles"/>
	<mvc:view-controller path="/member/zipcodeForMember.do" view-name="/WEB-INF/view/member/zipcodeForMember.jsp"/>
	<mvc:view-controller path="/member/join_success.do" view-name="member/join_success.tiles"/>
	
	<!-- TilesConfigurer 설정 -->
	<bean class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/config/tiles/tiles-defs.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- file upload 처리 multipartResolver 등록 -->
	<bean name="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
	
	<!-- View Resolver -->
	<bean  class="org.springframework.web.servlet.view.BeanNameViewResolver"
			   p:order="1"/>
	<bean   class="org.springframework.web.servlet.view.tiles3.TilesViewResolver"
				p:order="2"/>
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:order="3"/>
	
	<!-- 
	BasicDataSource&mapper위치<-SqlSessionFactoryBean<-SqlSessionTemplate<-MemberDAO<-MemberService
	 -->
	 <!-- BasicDataSource -->
	 <bean name="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
	 			p:driverClassName="oracle.jdbc.driver.OracleDriver"
	 			p:url="jdbc:oracle:thin:@127.0.0.1:1521:XE"
	 			p:username="scott1" p:password="tiger1"
	 			p:maxActive="50" p:initialSize="20"/>
	<!-- 
		SqlSessionFactoryBean : SqlSessionFactoryBuilder의 역할. SqlSessionFactory를 생성한다.
	 -->
	 <bean name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
	 		   p:configLocation="/WEB-INF/config/mybatis/mybatis-config.xml"
	 		   p:dataSource-ref="dataSource" />
	 
	<!-- SqlSessionTemplate 생성 - 생성자로 sqlSessionFactoryBean을 주입 -->
	<bean name="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate"
		      c:sqlSessionFactory-ref="sqlSessionFactory"/>
		      
	<!-- Transaction 처리 -->
	<bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
			  p:dataSource-ref="dataSource"/>
	<!-- Annotation 기반 Tx  -->
	<tx:annotation-driven transaction-manager="transactionManager"/>	
</beans>
