<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<package name="kr.or.kosta.theater.vo"/>
		<package name="kr.or.kosta.commoncode.vo"/>
		<package name="kr.or.kosta.member.vo"/>
		<package name="kr.or.kosta.event.vo"/>
		<package name="kr.or.kosta.common.vo"/> 
		<package name="kr.or.kosta.movie.vo"/> 
		<package name="kr.or.kosta.stats.vo"/> 
		<package name="kr.or.kosta.center.vo"/>
		<package name="kr.or.kosta.admin.vo"/>
		<package name="kr.or.kosta.coupon.vo"/>
		<package name="kr.or.kosta.schedule.vo"/> 
		<package name="kr.or.kosta.ticket.vo"/> 
		<package name="kr.or.kosta.files.vo"/>
		<package name="kr.or.kosta.notice.vo"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="kr/or/kosta/common/config/mapper/theaterMapper.xml"/>
		<mapper resource="kr/or/kosta/common/config/mapper/commonCodeMapper.xml"/>
		<mapper resource="kr/or/kosta/common/config/mapper/memberMapper.xml"/>
		<mapper resource="kr/or/kosta/common/config/mapper/eventMapper.xml"/>
		<mapper resource="kr/or/kosta/common/config/mapper/movieMapper.xml"/>
		<mapper resource="kr/or/kosta/common/config/mapper/statsMapper.xml"/>
		<mapper resource="kr/or/kosta/common/config/mapper/centerMapper.xml"/>
		<mapper resource="kr/or/kosta/common/config/mapper/adminMapper.xml"/>
		<mapper resource="kr/or/kosta/common/config/mapper/noticeMapper.xml"/>
		
	</mappers>
</configuration>
