<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="event.dao.eventMapper">
	
	<sql id="event-select">
		select 		evt_no,
					evt_startdate,
					evt_enddate,
					evt_regdate,
					evt_content,
					evt_file,
					evt_title
		from		event		
	</sql>
	
	<resultMap type="eventVO" id="event-resultmap">
	
		<id column="evt_no" property="evtNo"/>
		<result column="evt_startdate" property="evtStartDate"/>
		<result column="evt_enddate" property="evtEndDate"/>
		<result column="evt_regdate" property="evtRegDate"/>
		<result column="evt_content" property="evtContent"/>
		<result column="evt_file" property="evtFile"/>
		<result column="evt_title" property="evtTitle"/>
		
	</resultMap>

	<select id="selectEventList" resultMap="event-resultmap">
		select 	evt_no, evt_startdate, evt_enddate, evt_regdate, evt_content, evt_file, evt_title
		from		event
		order by evt_no
	</select>
	
	<select id="selectEventByEvtNo" parameterType="_int" resultMap="event-resultmap">
		select 	evt_no, evt_startdate, evt_enddate, evt_regdate, evt_content, evt_file, evt_title
		from		event
		where evt_no = ${value}
	</select>
	
	<insert id="insertEvent" parameterType="eventVO">
		insert into event (evt_no, evt_startdate, evt_enddate, evt_regdate, evt_content, evt_file, evt_title)
		values (EVENT_SEQ.nextval, #{evtStartDate}, #{evtEndDate}, #{evtRegDate}, #{evtContent} , #{evtFile} , #{evtTitle})
	</insert>
	
	<update id="updateEvent" parameterType="eventVO">
		update event
		set			evt_startdate=#{evtStartDate},
					evt_enddate=#{evtEndDate},
					evt_regdate=#{evtRegDate},
					evt_content=#{evtContent},
					evt_file=#{evtFile},
					evt_title=#{evtTitle}
					
		where	evt_no=#{evtNo}
	</update>
	
	<delete id="deleteEventByEventNumber" parameterType="_int">
		delete from event where evt_no=#{evtNo}		
	</delete>
	
	<select id="selectAllEventPaging" parameterType="map" resultMap="event-resultmap">
		select 	evt_no, evt_startdate, evt_enddate, evt_regdate, evt_content, evt_file, evt_title
		from (
			select ceil(rownum/#{contentsPerPage}) page, evt_no, evt_startdate, evt_enddate, evt_regdate, evt_content, evt_file, evt_title
			from (
					<include refid="event-select"/>
					order by evt_no
			)
		) 
		where page = #{pageNo}
	</select>
	
	<select id="selectTotalEventCount" resultType="_int">
		select count(evt_no) from event
	</select>
	
	<select id="findEventByText" parameterType="String" resultMap="event-resultmap">
		select *
		from event
		where evt_title like '%'||#{text}||'%'
		order by evt_no
	</select>
	
	
</mapper>
