<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="event.dao.eventMapper">
	
	<sql id="event-select">
		select 		evt_no,
					evt_startdate,
					evt_enddate,
					evt_regdate,
					evt_content,
					evt_file,
					evt_title
		from		event		
	</sql>
	
	<sql id="winner-select">
		select 		win_no,
					win_regdate, 
					win_text, 
					win_title
		from		winner		
	</sql>
	
	<resultMap type="eventVO" id="event-resultmap">
	
		<id column="evt_no" property="evtNo"/>
		<result column="evt_startdate" property="evtStartDate"/>
		<result column="evt_enddate" property="evtEndDate"/>
		<result column="evt_regdate" property="evtRegDate"/>
		<result column="evt_content" property="evtContent"/>
		<result column="evt_file" property="evtFile"/>
		<result column="evt_title" property="evtTitle"/>
		
	</resultMap>
	
	<resultMap type="winnerVO" id="winner-resultmap">
	
		<id column="win_no" property="winNo"/>
		<result column="win_regdate" property="winRegdate"/>
		<result column="win_text" property="winText"/>
		<result column="win_title" property="winTitle"/>
		
		
	</resultMap>
	
	<!-- ************************************************************************ -->

	<select id="selectEventList" resultMap="event-resultmap">
		select 	evt_no, evt_startdate, evt_enddate, evt_regdate, evt_content, evt_file, evt_title
		from		event
		where evt_enddate > to_char(sysdate, 'yyyy-mm-dd hh24:mi')
		and to_char(sysdate, 'yyyy-mm-dd hh24:mi') > evt_startdate
		order by evt_no
	</select>
	
	<select id="selectEventByEvtNo" parameterType="_int" resultMap="event-resultmap">
		select 	evt_no, evt_startdate, evt_enddate, evt_regdate, evt_content, evt_file, evt_title
		from		event
		where evt_no = ${value}
	</select>
	
	<insert id="insertEvent" parameterType="eventVO">
		insert into event (evt_no, evt_startdate, evt_enddate, evt_regdate, evt_content, evt_file, evt_title)
		values (EVENT_SEQ.nextval, #{evtStartDate}, #{evtEndDate},to_char(sysdate, 'YYYY-MM-DD HH:Mi:SS'), #{evtContent} , #{evtFile} , #{evtTitle})
	</insert>
	
	<update id="updateEvent" parameterType="eventVO">
		update event
		set			evt_startdate=#{evtStartDate},
					evt_enddate=#{evtEndDate},
					evt_regdate=to_char(sysdate, 'YYYY-MM-DD HH:Mi:SS'),
					evt_content=#{evtContent},
					evt_file=#{evtFile},
					evt_title=#{evtTitle}
					
		where	evt_no=#{evtNo}
	</update>
	
	<delete id="deleteEventByEventNumber" parameterType="_int">
		delete from event where evt_no=#{evtNo}		
	</delete>
	
	<select id="selectAllEventPaging" parameterType="map" resultMap="event-resultmap">
		select 	evt_no, evt_startdate, evt_enddate, evt_regdate, evt_content, evt_file, evt_title
		from (
			select ceil(rownum/#{contentsPerPage}) page, evt_no, evt_startdate, evt_enddate, evt_regdate, evt_content, evt_file, evt_title
			from (
					<include refid="event-select"/>
					order by evt_no
			)
		) 
		where page = #{pageNo}
	</select>
	
	<select id="selectAllWinnerPaging" parameterType="map" resultMap="winner-resultmap">
		select 	win_no, win_regdate, win_text, win_title
		from (
			select ceil(rownum/#{contentsPerPage}) page, win_no, win_regdate, win_text, win_title
			from (
					<include refid="winner-select"/>
					order by win_no
			)
		) 
		where page = #{pageNo}
	</select>
	
	<select id="selectTotalEventCount" resultType="_int">
		select count(evt_no) from event
	</select>
	
	<select id="selectTotalWinnerCount" resultType="_int">
		select count(win_no) from winner
	</select>
	
	<select id="findEventByText" parameterType="String" resultMap="event-resultmap">
		select *
		from event
		where evt_title like '%'||#{text}||'%'
		order by evt_no
	</select>
	
	<!-- *******************************당첨자 게시판****************************** -->
	
	<select id="selectWinnerByWinNo" parameterType="_int" resultMap="winner-resultmap">
		select 	win_no, win_regdate, win_text, win_title
		from 	winner
		where win_no = #{value}
	</select>
	
	<delete id="deleteWinner" parameterType="_int">
		delete  from winner 
		where win_no=#{winNo}		
	</delete>
	
	<insert id="insertWinner" parameterType="winnerVO">
		insert into winner (win_no, win_title, win_regdate, win_text)
		values (WINNER_SEQ.nextval, #{winTitle}, #{winRegdate}, #{winText})
	</insert>
	
	<update id="modifyWinner" parameterType="winnerVO">
		update winner
		set		win_title=#{winTitle},
				win_regdate=#{winRegdate},
				win_text=#{winText}
					
		where	win_no=#{winNo}	
	</update>
	
	
</mapper>
