<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="event.dao.eventMapper">
	
	<resultMap type="eventVO" id="event-resultmap">
	
		<id column="evt_no" property="evtNo"/>
		<result column="evt_name" property="evtName"/>
		<result column="evt_startdate" property="evtStartDate"/>
		<result column="evt_enddate" property="evtEndDate"/>
		<result column="evt_regdate" property="evtRegDate"/>
		<result column="evt_title" property="evtTitle"/>
		
	</resultMap>

	<select id="selectEventList" resultMap="event-resultmap">
		select 	e.evt_no, e.evt_name, e.evt_startdate, e.evt_enddate, e.evt_regdate, e.evt_title
		from		event e
		order by e.evt_no
	</select>
	
	<select id="selectEventByEvtNo" parameterType="_int" resultMap="event-resultmap">
		select 	e.evt_no, e.evt_name, e.evt_startdate, e.evt_enddate, e.evt_regdate, e.evt_title
		from		event e
		where e.evt_no = ${value}
	</select>
	
</mapper>
