<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.kosta.common.config.movieMapper">
	
	<insert id="insertMovie" parameterType="movieVO">
		insert into MOVIE 
		(MOV_NO, MOV_TITLE, MOV_SYNOPSIS, MOV_OFFICIALSITE, MOV_SCREENINGGRADE, MOV_POSTER, MOV_INTHEATERS,
		 MOV_RUNTIME, MOV_TRAILER, MOV_GRADE, MOV_COUNT,MOV_GENRE, DIR_NO, ACT_NO, PRO_NO)
		  values(movie_seq.nextval, #{title}, #{sysnopsis}, #{officialSite}, #{screeningGrade}, #{posterName},
		   #{intheaters}, #{runtime}, #{trailer}, #{movGrade}, #{movCount} ,#{genre}, #{dirNo}, 33, #{proNo})
	
	</insert>
	
	<select id="commoncode" parameterMap="movieVO-resultmap">
		select * from MOV_SCREENINGGRADE
	</select>
	

	
</mapper>
