<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper>
	<select id="selectEvent">
		select 	e.evt_no, e.evt_name, e.evt_startdate, e.evt_enddate, e.evt_regdate, e.evt_title
		from		event e
		order by e.evt_no
	</select>
</mapper>
