<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="stats.dao.statsMapper">

	<resultMap type="statsVO" id="stats1-resultmap">
		<id column="mov_no" property="movieNumber"/>
		<result column="seats" property="seats"/>
	</resultMap>
	
	<resultMap type="statsVO" id="stats2-resultmap">
		<id column="mov_no" property="movieNumber"/>
		<result column="attn_customer" property="cumulativeAttendance"/>
		<result column="tic_price" property="ticketPrice"/>
	</resultMap>
	
	<select id="selectSeatCount" resultMap="stats1-resultmap">
		select sum(mr.mr_line*mr.mr_seat) seats, m.mov_no
		from movieroom mr, schedule s, movie m
		where mr.mr_no = s.mr_no and s.mov_no = m.mov_no
		group by m.mov_no
	</select>
	<!-- 
	{320	173
	120	175
	320	172
	200	176
	110	174}
	 -->
	
	<select id="selectMovieViewers" resultMap="stats2-resultmap">
		select sum(t.tic_totalcustomer) attn_customer, sum(t.TIC_PRICE) tic_price,  m.mov_no
		from schedule s, ticket t, movie m
		where m.mov_no = s.mov_no and s.sch_no = t.sch_no
		group by m.mov_no
	</select>
 <!-- 
	 26	117000	173
	12	54000	175
	86	348000	172
	64	278000	176
	12	54000	174
  -->
 
</mapper>
